<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Bếp Việt", root_path, class:"btn btn-lg btn-success", id:"logo" %>
      <div class="nav_item">
        <%= link_to "Link1", "", class:"btn btn-default btn-warning", id:"link1" %>
      </div>
      <div class="nav_item">
        <%= link_to "Link2", "", class:"btn btn-default btn-warning", id:"link2" %>
      </div>
      <div class="nav_item">
        <%= link_to "Tao Moi Công Thức", new_recipe_path, class:"btn btn-default btn-warning", id:"link3" %>
      </div>
    </div>
</header>